<div class="flex max-lg:flex-col justify-center items-center h-auto w-full space-x-5 max-lg:space-y-5">

  <!-- Displays the status code using one-way data binding (interpoliation). -->
  <h1 class="text-6xl max-lg:text-5xl max-md:text-4xl max-sm:text-3xl font-medium uppercase bg-gradient-to-r from-pink-500 to-purple-500 bg-clip-text text-transparent">{{status_code}}</h1>

  <!-- Vertical divider (hidden on Tablet and Mobile screens). -->
  <span class="h-11 w-0.5 bg-gradient-to-r from-pink-500 to-purple-500 max-lg:hidden"></span>

  <!-- Displays the status message using one-way data binding (interpoliation). -->
  <p class="text-3xl max-lg:text-2xl max-md:text-xl max-sm:text-lg font-medium uppercase bg-gradient-to-r from-pink-500 to-purple-500 bg-clip-text text-transparent">{{status_message}}</p>

</div>
